*, *::before, *::after {
    box-sizing: border-box;
    font-family: "Hiragino Sans", "Arial", sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: env(safe-area-inset-top, 0) env(safe-area-inset-right, 0) env(safe-area-inset-bottom, 0) env(safe-area-inset-left, 0);
}

p {
    margin: 0;
}

button {
    font-family: inherit;
}
